@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Protest+Strike&display=swap');
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --font-logo:"horizon", sans-serif;
 
}

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
  --font-color-primary:#cd5A05;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Mastery Kingdom';
  src: url('/assets/fonts/Mastery Kingdom.otf') format('opentype');
}
@font-face {
  font-family: 'Milestone';
  src: url('/assets/fonts/Milestone.otf') format('opentype');
}
@font-face {
  font-family: 'Deutsch';
  src: url('/assets/fonts/Deutsch.ttf') format('truetype');
}

@font-face {
  font-family: 'Vampire Wars';
  src: url('/assets/fonts/Vampire Wars.otf') format('opentype');
}
@font-face {
  font-family: 'horizon';
  src: url('/assets/fonts/horizon.otf') format('opentype');
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #ec2727;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 80px 0;
}

.section-bg {
  background-color: #eee;
}

.section-header {
  text-align: center;
  padding-bottom: 30px;
  padding-bottom: 30px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #7f7f90;
  text-transform: uppercase;
  font-family: var(--font-default);
}

.section-header p {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  font-family: var(--font-primary);
}

.section-header p span {
  color: var(--color-primary);
}

.header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 70px;
  border-bottom: 1px solid #fff;
}
.header-logo {
  width: 80px;
  height: 80px;
}

.header.sticked {
  border-color: #fff;
  border-color: #eee;
}

.header .logo{
  display: flex;
  flex:grid;
  flex-direction: row;
  justify-content: center;
}
.header .logo img {
  max-height: 90px;
  margin-right: 6px;
  display: flex;
  flex:grid;
  flex-direction: column;
}

.header .logo h1 {
  display: flex;
  padding-top: 4px;
  align-items: center;
  font-size: 1.3rem;
  color: var(--font-color-primary);
  margin: 0;
  transform: scaleY(1.8); 
  font-family: var(--font-logo);

}

.header .logo h1 span {
  color: var(--color-primary);
}

.header .btn-book-a-table,
.header .btn-book-a-table:focus {
  font-size: 10px;
  color: #fff;
  background: var(--color-primary);
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 2px;
  transition: 0.3s;
  font-family: var(--font-navbar);
}

.header .btn-book-a-table:hover,
.header .btn-book-a-table:focus:hover {
  color: #fff;
  background: rgba(206, 18, 18, 0.8);
}

section {
  scroll-margin-top: 90px;
}

.navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-color: var(--font-color-primary);
  border-radius: 2px;
  color:#000;
  border: 3px solid #000;
}

.nav-item{
  color:var(--font-color-primary)
}
/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  #navbar {
    display: none;
  }
  .navbar-toggler {
    display: block !important;
  }
  .booking-form .form-field{
    padding-bottom: 10px;
  }
  .booking-form option{
    width: 100%;
  }
  .logo img {
    max-height: 70px;
    max-width: 70px;
    margin-right: 6px;
  }
  .header .logo h1 {
    font-size: 1.1rem;
  }
  .btn-book-a-table {
    display: none;
  }
  /* .booking-container{
    flex-direction: column;
  } */
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 720px) {
 
  .navbar {
    padding: 0;
  }
  .booking-form .form-field{
    padding-bottom: 45px;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: var(--font-navbar);
    font-size: 15px;
    font-weight: 600;
    color:var(--font-color-primary);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--color-primary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
    
  }

  .navbar a:hover:before,
  .navbar li:hover > a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #000;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
    font-size: 15px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover > a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .booking-form .form-field{
    padding-bottom: 1px;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
 
}

/* swiper */
.heroSwiper {
  position: relative;
}
.mySwiper{
  top:50px;
  padding-bottom: 30px;
}
.autoplay-progress {
  display: none;
}
.heading {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  font-size: 50px; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
  color: #fff; /* Adjust the text color as needed */
  text-align: center; /* Center-align the heading */
}

.top-text,
.bottom-text {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 54px; /* Adjust the font size as needed */
  color: #fff; /* Adjust the text color as needed */
  text-align: center; /* Center-align the text */
}

.top-text {
  top: calc(50% - 100px); /* Adjust the spacing between top text and heading */
}

.bottom-text {
  top: calc(50% + 100px); /* Adjust the spacing between bottom text and heading */
}
@media (max-width: 768px) {
  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
  .top-text {
    top: calc(30% - 1px); /* Adjust the spacing between top text and heading */
  }

  .bottom-text {
    top: calc(
      02% + 100px
    ); /* Adjust the spacing between bottom text and heading */
  }
 
  .heading {
    font-size: 10px; /* Adjust the font size as needed */
  }

  .top-text,
  .bottom-text {
    font-size: 20px; /* Adjust the font size as needed */
  }
  .our-hotel{
    padding: 10px;
  }
  .hotel-card1{
    margin:20px;
  }
  .feature{
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
  .feature-card h3{
    font-size: 20px;
  }
  .feature-card p{
    font-size: 15px;
  }
}

.img-fluid {
  width: 100%; /* Adjust the image width as needed */
  height: auto; /* Maintain the image's aspect ratio */
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about {
  background-image: url("assets/img/admin-ajax.jpeg");
}
.about .about-img {
  min-height: 500px;
}

.about h3 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 30px;
  font-family: var(--font-secondary);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding: 0 0 8px 26px;
  position: relative;
}

.about .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: var(--color-primary);
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Stats Counter Section
--------------------------------------------------------------*/
.stats-counter {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/img/destination.jpg") center center;
  background-size: cover;
  padding: 100px 0;
}

@media (min-width: 1365px) {
  .stats-counter {
    background-attachment: fixed;
  }
}

.feature {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.feature-card{
  padding-top: 30px;
}
.feature-card .icon{
  padding-bottom: 5px;
}


.booking-container {
  background-color: navy;
  padding: 20px;
  border-radius: 5px;
  color: white;
  margin-top: 20px; /* Adjust as needed */
  display: flex;
  flex-direction: column;

}
.booking-form{
  width: 100%;
  /* padding: 20px; */
 
}
.booking-header h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem; /* Adjust as needed */
}

.booking-header p {
  margin-bottom: 1rem;
  font-size: 1rem; /* Adjust as needed */
  color: lightgray;
}
.booking-form form {
  justify-content: space-between;
  align-items: center;
}
.booking-form .form-label {
  color: white;
}

.booking-form .form-control {
  background-color: #FFF;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

.btn-book {
  width: 100%;
  background-color: #0056b3; /* Adjust color as needed */
  color: white;
}




.footer {
  background: #111; /* Assuming a dark footer background */
  color: #fff;
  padding: 40px 0;
}

.footer h3 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 24px;
}

.footer p {
  color: rgba(255, 255, 255, 0.5);
}

.footer .social-links a {
  color: #fff;
  padding: 8px;
  display: inline-block;
}

.footer .credits {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-top: 20px;
}

.footer .credits a {
  color: #fff;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
} */

